{% extends 'base.html.twig' %}

{% block title %}Reader: {{ Reader.username }}{% endblock %}

{% block body %}
    <h1>Reader: {{ Reader.username }}</h1>

    <table class="table" border="2">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ Reader.id }}</td>
            </tr>
            <tr>
                <th>Username</th>
             
            </tr>
            
        </tbody>
    </table>

    <a href="{{ path('listre') }}">Back to the list</a>
</div>
{% endblock %}
